body{
	background: #212121;
	
	}

header,nav{
	background: #5858FA;
	border-radius: 0.5em;
	margin: 1.5;
	max-width: 90%;
	}

section#contenedor{
	mmax-width: 90%;

}
section#twitter,aside{
	background:#04B404;
	display: inline-block;
	max-width: 15%;
	min-height: 10%;
	vertical-aling: top;
	width:50%;
	
}
article{
		
	
}

aside{
	width: 20%;
}


